<!DOCTYPE html>
<html>
<head>
  <title>Line Login Demo by elsalau</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Ecowork Line Demo', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav pull-right">
          <% if current_user %>
            <li><%= image_tag "#{current_user.image_url}/small", alt: current_user.username %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', '/auth/line' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  <%= yield %>
  </div>
</body>
</html>
